.clone {
    width: 200px;
    height: 200px;
    background-image: url('./facebook.png');
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
}